<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="online.vidacademica">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".presentation.ui.ListMyCoursesActivity"
            android:label="@string/title_activity_list_my_courses"
            android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".view.ui.activity_listMySubjects">

        </activity>
        <activity android:name=".view.ui.PreLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".presentation.CreateCourseActivity"
            android:label="@string/title_activity_create_course"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".presentation.ui.PreLoginActivity"></activity>
        <activity android:name=".presentation.ui.ProfileActivity" />
        <activity android:name=".view.ui.ProfileActivity" />
        <activity
            android:name=".view.ui.CreateSubjectActivity"
            android:label="@string/title_activity_create_subject"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.RegisterActivity"
            android:configChanges="orientation|screenSize" />
            android:name=".view.ui.RegisterActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".view.ui.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".presentation.ui.Login"
            android:configChanges="orientation|screenSize" />
            android:name=".view.ui.LoginActivity"
            android:configChanges="orientation|screenSize">

        </activity>
    </application>

</manifest>